.card{
  position: relative;
  top: 12vh;
  box-shadow: 0px 0px 8px 1.5px rgba(0,0,0,0.5);
  border-radius: 15px!important;
}
.card-title{
  font-weight: bold;
  color: #940b0b;
  font-size: 2rem;
}
.inputBox{
  color: #ff7878!important;
  border-radius: 0.4rem;
  border-width: 0.08rem;
  border-color: #940b0b;
}
.passRest{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-left: 6rem;
  font-style: italic;
}
.passRest:hover{
  text-decoration: none;
  color: #940b0b;
}
.log-btn{
  background-color: #940b0b;
  color:#ffffff;
  height: 2rem;
  width: 5.5rem;
  border-radius: 2rem;
  border-style: none;
  font-size: 0.8rem;
  box-shadow: 0px 0px 8px 1.2px rgba(0,0,0,0.3);
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
}
